li {
  padding: 5px;
  margin: 5px;
  background:olivedrab;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 26px;
  color: burlywood;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-color: olivedrab;
}

.burgercol {
  width: 45%;
  justify-content: center;
  align-items: stretch;
  display: block;

}